.App {
  text-align: center;
}
a {
  text-decoration: none;
}
.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/back_grass.jpg');
  opacity: 0.65;
  z-index: -2;
}
.gradient{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(to right, rgba(4,88,54,1) 0%, rgba(63,130,8,1) 12%, rgba(4,88,54,1) 25%, rgba(63,130,8,1) 38%, rgba(4,88,54,1) 50%, rgba(63,130,8,1) 62%, rgba(4,88,54,1) 75%, rgba(63,130,8,1) 89%, rgba(4,88,54,1) 100%); */
  background: linear-gradient(to right, rgba(0,77,47,1) 0%, rgba(100,217,11,1) 12%, rgba(2,79,49,1) 25%, rgba(90,204,2,1) 38%, rgba(1,77,48,1) 50%, rgba(86,191,6,1) 62%, rgba(1,66,41,1) 75%, rgba(82,186,2,1) 89%, rgba(0,77,47,1) 100%);
  z-index: -3;
}
