@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.Header{
  padding-top: 5%;
  height: auto;
  margin-bottom: 1em;
}

h2{
  font-family: 'Acme', sans-serif;
  margin: 0;
  font-size: 3em;
  color: white;
}

.title {
  color: white;
 
}

.box {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1em;
  padding-top: 0.5em;
  border-radius: 1em;
  border: 2px solid rgb(84, 167, 64);
  /* border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em; */
  margin-bottom: 1em;
}

.box-contain-reverse {
  height: 2.5em;
  background-color: #2e7d32;
  padding: 0.1em;
}