.btnf {
  background-color: #27BC8F;
}
.btnt{
  background-color: #00aced;
  width: 25vw;
  margin-left: 10vw;
}
.btng{
  background-color: #c32f10;
  width: 25vw;
}
#buttons .fab{
  color: white;
}
.titles{
  color: white;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  
}
.btn-green{
  width: 100%;
  color: white;
  background-color: #27BC8F;
  border: 2px solid rgb(84, 167, 64);
}