.btnf {
  background-color: #3b5998;
}
.btnt{
  background-color: #00aced;
}
.btng{
  background-color: #c32f10;
}
#buttons .fab{
  color: white;
}
.titles{
  color: white;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  
}

form .btn{
  width: 100%;
}