.Menu{
  position: relative;
}

.box-contain {
  height: 2.5em;
  background-color: #2e7d32;
  padding: 0.1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.box-contain-open {
  width: 100%;
  position: absolute;
  z-index: 8;
}
p {
  margin: 0;
}

.pelotita {
  width: 3em;
  position: absolute;
  left: 25vw;
  top: -5px;
  z-index: 10;
  transition: all 0.3s;
}
.pelotita-open{
  left: 65vw;
  -webkit-animation: spin  0,3s linear;
  -moz-animation: spin  0.3s linear;
  animation: spin  0.3s linear;
  transition: all 0.3s;
}

.fa-bars {
  color: white;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

